<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'authen/login.css' %}">
</head>
<body>
    <form action="{% url 'authen:login' %}" method='Post'>
        {% csrf_token %}
        {% for message in messages  %}
        <p>{{ message }}</p>
        {% endfor %}
        <div id='form'>
    <h1>login</h1>
    {% if error_message %}
<h3 id='error'>{{error_message}}</h3>
    {% endif %}
    {{form.as_table}}
    <input type="submit" value="Login">
<a href="{%  url 'authen:sign_page' %}">Create account</a>
        </div>

    </form>
</body>
</html>